@tailwind base;
@tailwind components;
@tailwind utilities;

.needle {
  width: 2px;
  height: 40px; /* Adjust the height as needed for your needle length */
  background-color: red;
  position: absolute;
  left: 50%;
  top: 50%;
  transform-origin: center bottom;
  transform: translateX(-50%);
  z-index: 10;
  transition: transform 0.5s;
}
